<div class="tasks-list">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-4 no-gutter">
				<button class="button fw" (click)="toggleAddForm()"><i class="fa fa-plus"></i></button>
			</div>
			<div class="col-xs-4 no-gutter">
				<button class="button fw" (click)="toggleSortForm()"><i class="fa fa-sort"></i></button>
			</div>
			<div class="col-xs-4 no-gutter">
				<button class="button fw" (click)="toggleFilterForm()"><i class="fa fa-filter"></i></button>
			</div>
		</div>

		<div class="col-xs-12">
			<div *ngIf="_bShowAddForm">
				<input class="form-control" (keyup.enter)="addTask()" placeholder="Title of the new task" [(ngModel)]="_newTask" type="text">
				<button class='button fw' (click)="addTask()">Add Item</button>
			</div>

			<div *ngIf="_bShowSortForm">
				<select #sortType class="c-select" (change)="sortTasks(sortType.value)">
					<option value="none" selected>No sorting</option>
					<option value="finished">Finished</option>
					<option value="unfinished">Unfinished</option>
				</select>
			</div>

			<div *ngIf="_bShowFilterForm">
				<select #filterType class="c-select" (change)="filterTasks(filterType.value)">
					<option value="none" selected>No filtering</option>
					<option value="finished">Finished</option>
					<option value="unfinished">Unfinished</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12" *ngIf="!_bShowFilteredTasks">
			<task *ngFor="let task of _tasks" class="row no-gutter" (onDelete)="onDelete(task.id)" (onFinished)="onFinished(task.id)" [id]="task.id" [title]="task.title" [finished]="task.finished"></task>
		</div>
		<div class="col-xs-12" *ngIf="_bShowFilteredTasks">
			<task *ngFor="let task of _filteredTasks" class="row no-gutter" (onDelete)="onDelete(task.id)" (onFinished)="onFinished(task.id)" [id]="task.id" [title]="task.title" [finished]="task.finished"></task>
		</div>
	</div>
</div>