.task {
	display: flex;
	border-bottom: 1px solid #c96f00;
}

.task-content {
	width: 100%;
	flex: 1 0 0;
	padding: 5px 10px;
}

.task-controls {
	display: flex;
}

.task-content .form-control {
	height: 24px;
	padding-left: 10px;
	margin-left: -11px;
}

.task-controls .button {
	width: 35px;
}