<div class="col-xs-12 no-gutter task">
	<div class="task-content">
		<div class="col-xs-1 col-md-1">
			<input type="checkbox" (change)="finishTask($event)" [ngModel]='finished'>
		</div>
		<div class="col-xs-10 col-md-11">
			<span *ngIf="!editable" class="task-title" [ngClass]="{'finished': finished }">{{ title }}</span>
			<input *ngIf="editable" class="form-control" [(ngModel)]="title">
		</div>
	</div>

	<div class="task-controls">
		<button class="button" (click)="toggleEditable()"><i [ngClass]="{'fa-pencil': !editable, 'fa-check': editable}" class="fa"></i></button>
		<button class="button" (click)="deleteTask($event)"><i class="fa fa-trash-o"></i></button>
	</div>
</div>